@import 'colors';
@import 'size';

.navbar {
    border-radius: 0;

    a i {
        position: relative;
        top: 1px;
        margin-left: 6px;
    }

    .user {
        display: block;
    }
    
    .auth-user {
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 48, 63, 1), 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
}

/* dropdown styles */
.dropdown {
    position: relative;

    .dropdown-toggle:focus {
        outline: 0;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 22px 0 15px 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    border-radius: 0;
    box-shadow: none;

    @include size(sm) {
        margin: 0;
    }

    @include size(md) {
        margin: 0;
    }

    &:before {
        content: "\00a0";
        display: block;
        position: absolute;
        height: 10px;
        width: 10px;
        top: -6px;
        border-right: 0;
        border-bottom: 0;
        left: 10px;
    }

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
    }

    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        text-decoration: none;
        line-height: 2;
        white-space: nowrap;
    }

    > li > a:hover,
    > li > a:focus {
        text-decoration: none;
    }

    li .dropdown-menu:before {
        height: 0;
        width: 0;
    }
}

.open {
    > .dropdown-menu {
        display: block;
    }

    > a {
        outline: 0;
    }
}